@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist);
  --font-serif: var(--font-newsreader);
  --font-mono: var(--font-geist-mono);
}

html {
  scrollbar-gutter: stable;
}
