---
import { getRelativeLocaleUrl } from "astro:i18n";
import TwemojiFlagSweden from "./icons/TwemojiFlagSweden.astro";
import TwemojiFlagUnitedKingdom from "./icons/TwemojiFlagUnitedKingdom.astro";

const currentLocale = Astro.currentLocale || "en";
const targetLocale = currentLocale === "en" ? "sv" : "en";
const currentPath = Astro.url.pathname.replace(`/${currentLocale}`, "") || "/";
const href = getRelativeLocaleUrl(targetLocale, currentPath);

const languageSwitch = {
  sv: {
    ariaLabel: "Visa sidan på svenska",
    FlagComponent: TwemojiFlagSweden,
  },
  en: {
    ariaLabel: "View this page in English",
    FlagComponent: TwemojiFlagUnitedKingdom,
  },
}[targetLocale];
---

<a
  href={href}
  hreflang={targetLocale}
  rel="alternate"
  aria-label={languageSwitch.ariaLabel}
  class="text-2xl transition hover:opacity-75 active:scale-95 active:opacity-50"
>
  <languageSwitch.FlagComponent aria-hidden="true" class="w-7" />
</a>
